@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli u cvjećarnicu Flor</h1>
    <p>Otkrijte našu ponudu buketa za svaku prigodu.</p>

    <a href="/Buketi" class="btn btn-success mt-3">Pogledajte ponudu</a>

</div>
